.uiKeyword {
    @include clearfix();
    margin-top: -10px;

    li {
        float: left;
        margin-top: 10px;
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }

        a {
            display: block;
            height: 35px;
            padding: 0 10px;
            line-height: 34px;
            border: 1px solid #ccc;
            border-radius: 6px;
            font-size: 14px;
            color: #666;
        }
    }
}
