@charset "UTF-8";

@import "../../base/variables";
@import "../components/store/_pointColor";
@import "../components/store/_layerTransform";
@import "../components/store/_btnDibs";
@import "../components/store/_tabs";
@import "../components/store/_rangeBar";
@import "../components/store/_checkBox";
@import "../components/store/_selectBox";
@import "../components/store/_filter";
@import "../components/store/_sellerCoupon";
@import "../components/store/_sharePopup";

.exampleWrapper {
    margin-top: sz(50);

    @if $device != "mobile" {
        @include mq(width, $maxWidth);
    }

    .guideTitle {
        margin-bottom: sz(20);
        font-size: sz(17);
        line-height: sz(25);
        font-weight: $boldWeight;
        color: #000;
    }

    .guideHeader {
        padding: sz(20) sz(20) sz(10);

        span {
            display: block;
            font-weight: $normalWeight;
            font-size: sz(12);
        }
    }

    .guide {
        @if $device == "mobile" {
            padding: 0 sz(20);
        }

        &:not(:first-child) {
            margin-top: sz(40);
        }

        &.flex {
            display: flex;
            justify-content: flex-start;

            > div:not(:first-child) {
                margin-left: sz(20);
            }
        }

        .guideItem {
            &:not(:last-child) {
                margin-bottom: sz(20);
            }

            dt {
                margin-bottom: sz(10);
                font-weight: $boldWeight;
            }

            dd {
                margin-top: sz(10);

                .codeExample {
                    padding: sz(15) 0 sz(15) sz(10);
                    margin: sz(10) 0;
                    border-left: sz(5) solid #efefef;
                }

                > p {
                    margin-bottom: sz(20);
                }
            }
        }

        .staticMap {
            margin-bottom: sz(20);

            img {
                display: block;
                width: 100%;
                border-radius: sz(10);
            }
        }
    }

    .alert button {
        display: block;
    }

    .colorList {
        li {
            margin-top: sz(10);
        }

        span {
            display: inline-block;
            width: sz(100);
            height: sz(30);
            line-height: sz(30);
            text-align: center;
            border-radius: sz(5);
        }
    }

    .dibsWrapper {
        @include btnDibs(10);
        position: relative;
        width: sz(100);
        height: sz(100);
        background: #f3f3f3;
        border-radius: sz(10);
    }

    .errorImage {
        @include noImage(sz(80));
        width: sz(100);
        height: sz(100);
        border-radius: sz(10);

        img {
            object-fit: cover;
            display: block;
            width: 100%;
            height: 100%;
        }
    }

    .store {
        &BtnPrimary {
            width: 100%;
            height: sz(50);
            background: $mainColor;
            border-radius: sz(10);
            font-size: sz(15);
            font-weight: $normalWeight;
            color: #fff;

            &[disabled] {
                font-weight: $boldWeight;
                background: #ccc;
            }
        }

        &BtnSecondary {
            width: 100%;
            height: sz(45);
            background: #fff;
            border: sz(1) solid #ccc;
            border-radius: sz(10);
            font-size: sz(15);
            font-weight: $normalWeight;
            color: #333;

            &.important {
                border-color: $mainColor;
                color: $mainColor;
            }
        }
    }

    .starRate {
        @include starRate();

        &.big {
            @include starRate(sz(32), sz(30), sz(7));
        }
    }

    .layerTransformBundle {
        @if $device == "desktop" {
            &.custom {
                .layerTransformWrapper {
                    left: inherit;
                    right: 0;
                    width: 500px;
                }
            }

            .sharePopup {
                top: 40px;
                left: 0;
            }
        }

        .layerTransformWrapper {
            #exampleCardNamePart {
                height: 50%;
            }
        }
    }
}
