<a href="#" class="btnDibs">
  <img src= "<%= page.base %>/pages/checkinnow/housing/search/icon_dib_off.svg" alt="찜 리스트에 추가하기">
  <img src="<%= page.base %>/pages/checkinnow/housing/search/icon_dib_on.svg" alt="찜 리스트에서 삭제하기">
</a>
