@import "base/font";
@import "base/variables";
@import "base/reset";

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: linear-gradient(rgb(235, 236, 231), rgb(255, 255, 255));
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Raleway", sans-serif;
}

.main__wrap {
    .title-wrap {
        @include alignCenter();
        position: absolute;
    }

    .title {
        font-weight: 800;
        color: transparent;
        font-size: 108px;
        background: url("/images/main/titleBg.jpg") repeat;
        background-position: 40% 50%;
        background-clip: text;
        position: relative;
        text-align: center;
        line-height: 93px;
        letter-spacing: -8px;
    }

    .subtitle {
        display: block;
        text-align: center;
        text-transform: uppercase;
        font-size: 20px;
        padding-top: 20px;
        font-family: "Noto Sans KR", sans-serif;
    }
}

