<% var imgPath = page.base + '/common/store/btnDibs'; %>

<button type="button" class="btnDibs" aria-pressed="false">
  <span>찜리스트 추가</span>
  <i>
    <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 26 24">
      <g fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
          <g class="dibsColor" fill="#EF3E43" stroke="#FFF" stroke-width="1.5">
              <path d="M18.536 2.25l.297.008c1.668.084 3.13.83 4.186 1.955C24.1 5.367 24.75 6.92 24.75 8.559c0 1.417-.552 2.785-1.55 3.833h0l-8.946 9.379c-.367.359-.823.527-1.267.527-.462 0-.914-.18-1.254-.535h0l-8.982-9.379C1.752 11.337 1.25 9.978 1.25 8.56c0-1.639.65-3.192 1.731-4.346 1.055-1.125 2.518-1.87 4.185-1.955 1.792-.09 3.428.548 4.62 1.628.483.439.894.95 1.213 1.517.319-.567.73-1.078 1.214-1.517 1.191-1.08 2.828-1.717 4.62-1.628z" />
          </g>
      </g>
    </svg>
  </i>
</button>
