<div id="gateway" class="gatewayWrapper">
  <div class="gatewayInner">
    <div class="gatewayLeft">
      <div class="interparkGate">
        <ul>
          <li class="welcome current">
            <a href="#">홈</a>
          </li>
          <li class="gatewayBook">
            <a href="#">도서</a>
          </li>
          <li class="gatewayTicket">
            <a href="#">티켓</a>
          </li>
          <li class="gatewayTour">
            <a href="#">투어</a>
          </li>
          <li class="gatewayIMarket">
            <a href="#" target="_blank">아이마켓</a>
          </li>
        </ul>
      </div>
    </div>

    <div class="gatewayRight">
      <div class="gatewayMenus">
        <ul class="gatewayMenu">
          <li class="gatewayLogin">
            <a href="#">로그인</a>
          </li>
          <li class="gatewayJoin">
            <a href="#">회원가입</a>
          </li>
          <li class="gatewayCart">
            <a href="#">장바구니</a>
          </li>
          <li class="gatewayMypage hasSub">
            <a href="#">마이페이지</a>
            <div class="gatewaySub">
              <ul class="gatewaySubMenu">
                <li>
                  <a href="#">마이페이지</a>
                </li>
                <li>
                  <a href="#">주문 / 배송조회</a>
                </li>
                <li>
                  <a href="#">찜리스트</a>
                </li>
                <li>
                  <a href="#">할인쿠폰내역</a>
                </li>
              </ul>
            </div>
          </li>
          <li class="gatewayDirectConnect hasSub on">
            <a href="#">바로접속<span>ON</span></a>
            <div class="gatewaySub">
              <div class="directConnectGuide">
                <div class="directConnect">
                  <div class="directConnectTop">
                    <strong>바로접속 <em>on</em></strong>
                    <p>고객님꼐서는 현재 바로접속 상태입니다.</p>
                    <a href="#" class="closeDirectConnect" onclick="$(this).closest('.gatewayDirectConnect').removeClass('active'); return false;">닫기</a>
                  </div>
                  <div class="directConnectIPoint">
                    <p>바로접속을 통해 구매시 우수회원 최대 2% I-Point 자동 추가 적립</p>
                  </div>
                  <div class="directConnectHowto">
                    <strong>바로접속으로 방문하는 방법</strong>
                    <ul>
                      <li class="setHome">
                        <a href="#">홈페이지 설정하기</a>
                      </li>
                      <li class="setFavorite">
                        <a href="#">즐겨찾기 추가하기</a>
                      </li>
                      <li class="setURL">
                        <a href="#">URL 직접 입력하기</a>
                      </li>
                      <li class="connectMail">
                        <a href="#">쇼핑메일 접속하기</a>
                      </li>
                    </ul>
                  </div>
                  <div class="directConnectMembership">
                    <a href="//incorp.interpark.com/member/MemberGoodService.do?_method=GoodServiceChk&amp;wid1=kang&amp;wid2=right&amp;wid3=04" target="_blank"><img src="//openimage.interpark.com/_nip/bt_benefit_view.gif" alt="우수회원 혜택 보러가기"></a>
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li class="gatewayCSCenter">
            <a href="#">고객센터</a>
          </li>
          <li class="gatewaySellerManager">
            <a href="#">판매자매니저</a>
          </li>
          <li class="gatewayLanguages hasSub">
            <a href="#">Language</a>
            <div class="gatewaySub">
              <ul class="gatewaySubMenu">
                <li>
                  <a href="#">English</a>
                </li>
                <li>
                  <a href="#">Chinese</a>
                </li>
                <li>
                  <a href="#">Global Ticket</a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
