//white 테마
$pink: #e775c4;
$orange: #f99641;
$babyBrown: #c4a07c;

// black 테마
$gray: #888;
$blue: #6b90dc;
$brown: #815726;
$green: #6f9f33;
$hotPink: #fc5296;
$purple: #9a2dff;

$pointColors: ("pink", $pink), ("orange", $orange), ("babyBrown", $babyBrown), ("gray", $gray), ("blue", $blue), ("brown", $brown), ("green", $green), ("hotPink", $hotPink), ("purple", $purple);
$iconTextColor: "";
$point: "";

@each $name, $pointColor in $pointColors {
    $isDarkMode: $pointColor == $pink or $pointColor == $orange or $pointColor == $babyBrown;

    @if ($isDarkMode) {
        $iconTextColor: #000;
        $point: $pointColor;
    } @else {
        $point: $pointColor;
        $iconTextColor: #fff;
    }

    &.textBanner {
        &[data-point-color="#{$name}"] {
            background-color: $pointColor;

            a {
                color: $iconTextColor;
            }

            .eventDate {
                @if $name == "gray" or $name == "pink" {
                    opacity: .9;
                } @else if $name == "blue" or $name == "green" {
                    opacity: 1;
                }
            }
        }
    }
}
