<div class="calBox">
  <div class="monArea">
    <strong class="month">2018.06</strong>
    <button class="prevBtn" type="button" title="이전달">이전달 보기</button>
  </div>
  <table class="calendar">
    <thead>
      <tr>
        <th scope="col">SUN</th>
        <th scope="col">MON</th>
        <th scope="col">TUE</th>
        <th scope="col">WED</th>
        <th scope="col">THU</th>
        <th scope="col">FRI</th>
        <th scope="col">SAT</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td>
          <button type="button">1</button>
        </td>
        <td class="sat">
          <button type="button">2</button>
        </td>
      </tr>
      <tr>
        <td>
          <button type="button">3</button>
        </td>
        <td>
          <button type="button">4</button>
        </td>
        <td>
          <button type="button">5</button>
        </td>
        <td class="off">
          <button type="button">6</button>
        </td>
        <td>
          <button type="button">7</button>
        </td>
        <td>
          <button type="button">8</button>
        </td>
        <td class="sat">
          <button type="button">9</button>
        </td>
      </tr>
      <tr>
        <td>
          <button type="button">10</button>
        </td>
        <td>
          <button type="button">11</button>
        </td>
        <td>
          <button type="button">12</button>
        </td>
        <td>
          <button type="button">13</button>
        </td>
        <td>
          <button type="button">14</button>
        </td>
        <td>
          <button type="button">15</button>
        </td>
        <td class="sat">
          <button type="button">16</button>
        </td>
      </tr>
      <tr>
        <td>
          <button type="button">17</button>
        </td>
        <td>
          <button type="button">18</button>
        </td>
        <td>
          <button type="button">19</button>
        </td>
        <td>
          <button type="button">20</button>
        </td>
        <td>
          <button type="button">21</button>
        </td>
        <td>
          <button type="button">22</button>
        </td>
        <td class="sat">
          <button type="button">23</button>
        </td>
      </tr>
      <tr>
        <td>
          <button type="button">24</button>
        </td>
        <td>
          <button type="button">25</button>
        </td>
        <td>
          <button type="button">26</button>
        </td>
        <td>
          <button class="active" type="button">27</button>
        </td>
        <td>
          <button type="button">28</button>
        </td>
        <td>
          <button  type="button">29</button>
        </td>
        <td class="sat">
          <button type="button">30</button>
        </td>
      </tr>
      <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td class="sat"> </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="calBox">
  <div class="monArea">
    <strong class="month">2018.07</strong>
    <button class="nextBtn" type="button" title="다음달">다음달 보기</button>
  </div>
  <table class="calendar">
    <thead>
      <tr>
        <th scope="col">SUN</th>
        <th scope="col">MON</th>
        <th scope="col">TUE</th>
        <th scope="col">WED</th>
        <th scope="col">THU</th>
        <th scope="col">FRI</th>
        <th scope="col">SAT</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <button type="button">1</button>
        </td>
        <td>
          <button type="button">2</button>
        </td>
        <td>
          <button type="button">3</button>
        </td>
        <td>
          <button type="button">4</button>
        </td>
        <td>
          <button type="button">5</button>
        </td>
        <td>
          <button type="button">6</button>
        </td>
        <td class="sat">
          <button type="button">7</button>
        </td>
      </tr>
      <tr>
        <td>
          <button type="button">8</button>
        </td>
        <td>
          <button type="button">9</button>
        </td>
        <td>
          <button type="button">10</button>
        </td>
        <td>
          <button type="button">11</button>
        </td>
        <td>
          <button type="button">12</button>
        </td>
        <td>
          <button type="button">13</button>
        </td>
        <td class="sat">
          <button type="button">14</button>
        </td>
      </tr>
      <tr>
        <td>
          <button type="button">15</button>
        </td>
        <td>
          <button type="button">16</button>
        </td>
        <td>
          <button type="button">17</button>
        </td>
        <td>
          <button type="button">18</button>
        </td>
        <td>
          <button type="button">19</button>
        </td>
        <td>
          <button type="button">20</button>
        </td>
        <td class="sat">
          <button type="button">21</button>
        </td>
      </tr>
      <tr>
        <td>
          <button type="button">22</button>
        </td>
        <td>
          <button type="button">23</button>
        </td>
        <td>
          <button type="button">24</button>
        </td>
        <td>
          <button type="button">25</button>
        </td>
        <td>
          <button type="button">26</button>
        </td>
        <td>
          <button type="button">27</button>
        </td>
        <td class="sat">
          <button type="button">28</button>
        </td>
      </tr>
      <tr>
        <td>
          <button type="button">29</button>
        </td>
        <td>
          <button type="button">30</button>
        </td>
        <td>
          <button type="button">31</button>
        </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td class="sat"> </td>
      </tr>
      <tr>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td> </td>
        <td class="sat"> </td>
      </tr>
    </tbody>
  </table>
</div>
