<div class="layerTransformWrapper eventPopup">
  <div id="eventPopup" class="layerTransformContainer">
    <header class="layerTransformHeader">
      <h1>기획전 전체</h1>
      <div class="closeCard">
        <button type="button" aria-label="닫기"></button>
      </div>
    </header>

    <section class="layerTransformContents">
      <ul>
        <%
          [
            {title: "NS홈쇼핑", subTitle: "공기 청정기 30% 초특가", date: "2021.04.07~2021.04.10", pointColor: "blue"},
            {title: "가나다라마바사아", subTitle: "기획전 서브 타이틀 영역 입니다.기획전 서브 타이틀 영역 입니다.", date: "2021.04.07~2021.04.10"}
          ].forEach(e => { %>
            <li class="textBanner" data-point-color="<%= e.pointColor ? e.pointColor : '' %>">
              <a href="#">
                <div class="bannerInner">
                  <h1><%= e.title %></h1>
                  <p class="title"><%= e.subTitle %></p>
                  <p class="eventDate"><%= e.date %></p>
                </div>
              </a>
            </li>
        <% }); %>
        <li><a href="#"><img src="//via.placeholder.com/620x340" alt="이벤트1 타이틀"></a></li>
        <li><a href="#"><img src="//via.placeholder.com/620x340" alt="이벤트2 타이틀"></a></li>
        <li><a href="#"><img src="//via.placeholder.com/620x340" alt="이벤트3 타이틀"></a></li>
        <li><a href="#"><img src="//via.placeholder.com/620x340" alt="이벤트4 타이틀"></a></li>
      </ul>
    </section>
  </div>
</div>
