$base: "/images" !default;
$imgPath: $base + "/pages/";

$system-font: -apple-system, system-ui, BlinkMacSystemFont, "맑은 고딕", "Malgun Gothic", "돋움", Dotum, Helvetica, "Apple SD Gothic Neo", sans-serif;

$normalWeight: normal;
$boldWeight: bold;

$minWidth: 1200px;

@mixin line-clamp($val) {
    display: -webkit-box;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    -webkit-line-clamp: $val;
    -webkit-box-orient: vertical;
}

@mixin blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    margin: sz(-1);
    width: sz(1);
    height: sz(1);
}

@mixin arrow($size, $direction) {
    content: "";
    display: inline-block;
    position: absolute;
    width: $size;
    height: $size;
    font-size: 0;
    box-shadow: sz(1) sz(1) 0 0 #858585;
    @if $direction == "prev" {
        transform: translateY(-50%) rotate(135deg);
    } @else {
        transform: translateY(-50%) rotate(-45deg);
    }
}

@mixin line-clamp($val) {
    display: -webkit-box;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    -webkit-line-clamp: $val;
    -webkit-box-orient: vertical;
}

@mixin alignCenter {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
